:root {
  /* Sizes */
  --expandable-operators-trigger-size: 30px;
  --keyboard-size: 60%;
  --display-size: 40%;

  /* Animations */
  --transition-speed: 300ms;
}

html,
body {
  margin: 0px;
  overflow: hidden;
}

.calculator {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--default-color);
}

/* ======== Display styles ===========*/

.display {
  height: calc(var(--display-size) - 20px);
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-accent);
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 5px var(--operator-color);
  padding: 10px;
}

.display .actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--display-actions-color);
  font-weight: bold;
}

.display input#current {
  border: none;
  padding: unset;
  background-color: transparent;
  width: 100%;
  font-size: 40px;
  margin: 5px 10px;
  text-align: right;
  color: var(--default-color);
}

.display .history-trigger {
  width: 30px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--history-trigger-bg);
}

/* ======== Keyboard styles =========== */
.keyboard {
  background-color: var(--bg);
  font-family: "Alata", sans-serif;
  font-size: 24px;
  display: flex;
  position: absolute;
  width: 100%;
  height: var(--keyboard-size);
  bottom: 0;
}

.number-block *,
.operator-block *,
.expandable-operators-block * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.keyboard .number-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  overflow: hidden;
}

.keyboard .operator-block {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  color: var(--operator-color);
  border-left: 1px solid var(--border-color);
  overflow: hidden;
}

.keyboard .expandable-operators-block {
  position: absolute;
  width: 80%;
  background-color: var(--expandable-operators-bg);
  color: var(--expandable-operators-color);
  height: 100%;
  display: flex;
  right: calc(-80% + var(--expandable-operators-trigger-size));
  transition: var(--transition-speed);
  overflow: hidden;
}
.expandable-operators-block .trigger {
  width: var(--expandable-operators-trigger-size);
  transition: var(--transition-speed);
}
.expandable-operators-block .operator-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.expandable-operators-block.expand {
  right: 0;
}
.expandable-operators-block.expand .trigger {
  transform: rotate(180deg);
}
